@{
    ViewBag.Title = "Home Page";
}
<div class="row justify-content-center">
    <div class="col-8 mt-3">
        <h1 class="display-4 text-center"><img src="~/img/schoogleLogo.png" style="width: 250px;" /></h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control border-primary" placeholder="Enter school name" aria-label="School Name" aria-describedby="Enter school name">
            <div class="input-group-append">
                <button class="btn btn-danger" type="button" id="searchSchool">Search</button>
            </div>
        </div>
    </div>
</div>
